@import '../../color';


.com-cabecalho {
   
    text-align: center;
    background-color: $secundaria;
    
    .info{
        display: flex;
        color: aliceblue;
        font-size: 11px;
        flex-direction: row;
        align-items: center;
        gap: 22px;
        padding: 22px;
    }
}